html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.order-card {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-status {
    font-weight: bold;
    font-size: 1.2rem;
    color: #28a745;
    animation: pulse 2s infinite;
}

    .order-status.bekliyor {
        color: #ffc107;
    }

.product-list {
    margin-top: 10px;
    font-size: 1rem;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.order-status-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.order-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.order-details {
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

.order-status {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
}
